{% extends 'adminbase.html.twig' %}

{% block title %}New Formation
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<h1>Ajouter une nouvelle formation
		</h1>
		{{ include('formation/_form.html.twig') }}
	</div>


	{#     <a href="{{ path('formation_index') }}">back to list</a> #}
{% endblock %}
