{% extends 'adminbase.html.twig' %}

{% block title %}New Biographie{% endblock %}

{% block body %}
    <h1>Ajouter une Nouvelle Biographie</h1>

    {{ include('biographie/_form.html.twig') }}

    <a href="{{ path('biographie_index') }}">Retour</a>
{% endblock %}
