{% extends 'base3.html.twig' %}

{% block title %}Edit Pos1{% endblock %}

{% block body %}
    <h1>Edit Pos1</h1>

    {{ include('pos1/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pos1_index') }}">back to list</a>

    {{ include('pos1/_delete_form.html.twig') }}
{% endblock %}
