{% extends 'base0.html.twig' %}
{% block title %}Liste des activités
{% endblock %}
{% block body %}
	<section id="introActivites">
		<div class="intro-container wow fadeIn">
			<h1 class="mb-4 pb-0">Déminage ,Gestion du stockage des armes et munitions ,Dépollution de champs de bataille (DCB) ...</h1>

		</div>
	</section>

	<main
		id="main">
		<!--==========================
										Schedule Section
									============================-->
		<section id="schedule" class="section-with-bg">
			<div class="container wow fadeInUp">
				<div class="section-header">
					<h2>Nos activités</h2>
					<h3>Gestion du stockage des armes et munitions</h3>
					<p>La gestion inappropriée des stocks de munitions et d’explosifs conventionnels pose d’importants risques de sécurité.
					</p>
					<p>
						Le risque le plus saillant posé par l'accumulation de munitions conventionnelles excédentaires est celui d'événements explosifs dans des aires de stockage de munitions. Les explosions de dépôt de munitions font la « Une » des journaux plusieurs fois au cours d’une seule année.

					</p>
					<p>
						Ces événements résultent en d'importants dégâts, une destruction étendue des infrastructures et la perturbation des moyens de subsistance de communautés entières.
																		 						 En plus de la souffrance humaine immédiate, de telles explosions peuvent avoir des effets épouvantables sur l'environnement et, dans des États avec des moyens limités pour financer les coûts d'un nettoyage techniquement difficile, les populations locales, particulièrement les enfants, sont bien trop souvent exposés au risque de blessure ou de mort en raison des munitions explosives qui ont tendance à polluer de larges zones pendant des périodes prolongées et bien après l'explosion.
					</p>
					<p>
						Un autre risque sérieux qui ne devrait pas être négligé est celui du détournement des munitions des stocks mal gérés et non sécurisés vers le commerce illicite. Les munitions détournées des réserves nationales peuvent trouver usage dans les guerres civiles, les insurrections, le terrorisme, le crime et autres violences armées, et ainsi attiser l'instabilité nationale et régionale et menacer la sécurité des États.
																		 .
					</p>
				</div>

				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Services
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Expertise</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#day-3" role="tab" data-toggle="tab">Audit</a>
					</li>
				</ul>

				<!-- <h3 class="sub-heading">Voluptatem nulla veniam soluta et corrupti consequatur neque eveniet officia. Eius
																		necessitatibus voluptatem quis labore perspiciatis quia.</h3> -->

				<div
					class="tab-content row justify-content-center">

					<!-- Schdule Day 1 -->
					<div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

						<div
							class="row schedule-item">
							<!-- <div class="col-md-2"><time>09:30 AM</time></div> -->
							<div class="col-md-10">
								<div class="speaker">
									<img src="img/MINE1.jpg" alt="Brenden Legros">
								</div>
								<h4>Déminage</h4>
								<p>Le déminage de champ de mines incluant la formation et l’équipement des démineurs, l’éducation aux risques des mines, enquêtes technique et non technique, cartographie, assurance qualité, marquage du danger, documentation post-dépollution et la remise à disposition des terres..</p>
							</div>
						</div>

						<div
							class="row schedule-item">
							<!-- <div class="col-md-2"><time>10:00 AM</time></div> -->
							<div class="col-md-10">
								<div class="speaker">
									<img src="img/EXPLO1.jpg" alt="Brenden Legros">
								</div>
								<h4>Dépollution de champs de bataille (DCB)</h4>
								<p>La dépollution de champ de bataille est la recherche systématique, la détection et l’enlèvement de toutes munitions se trouvant dans une zone spécifique..</p>
							</div>
						</div>

						<div
							class="row schedule-item">
							<!-- <div class="col-md-2"><time>11:00 AM</time></div> -->
							<div class="col-md-10">
								<div class="speaker">
									<img src="img/EODGren1.jpg" alt="Hubert Hirthe">
								</div>
								<h4>Neutralisation d’engins explosifs (NEDEX)</h4>
								<p>Neutralisation et destruction d’engins explosif tels que les restes d’explosifs de guerre, les bombes, les munitions abandonnées .</p>
							</div>
						</div>

						<div
							class="row schedule-item">
							<!-- <div class="col-md-2"><time>12:00 AM</time></div> -->
							<div class="col-md-10">
								<div class="speaker">
									<img src="img/C-IED.jpg" alt="Cole Emmerich">
								</div>
								<h4>Prévention et protection contre le terrorisme</h4>
								<p>Outre les formations proposées dans le cadre de la lutte contre le terrorisme, nous sommes en mesure d’effectuer les missions suivantes ;
																																				Recherche et fouille préventive lors d’événements de toutes natures et lutte contre les EEI.
								</p>
							</div>
						</div>

						<div
							class="row schedule-item">
							<!-- <div class="col-md-2"><time>02:00 PM</time></div> -->
							<div class="col-md-10">
								<div class="speaker">
									<img src="img/rex.jpeg" alt="Jack Christiansen">
								</div>
								<h4>Chiens détecteur d’explosif + formations</h4>
								<p></p>
							</div>
						</div>


					</div>
					<!-- End Schdule Day 1 -->

					<!-- Schdule Day 2 -->
					<div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">

						<div
							class="row schedule-item">
							<!-- <div class="col-md-2"><time>10:00 AM</time></div> -->
							<div class="col-md-10">
								<div
									class="speaker"><!-- <img src="img/speakers/1.jpg" alt="Brenden Legros"> -->
								</div>
								<h4>Nous travaillons en étroite collaboration avec nos clients afin de déterminer quel sont les besoins et les buts opérationnel exact de nos expertises.
									<a href="#">
										Télécharger notre plaquette</a>
								</h4>

							</div>
						</div>

						<div
							class="row schedule-item">
							<!-- <div class="col-md-2"><time>11:00 AM</time></div> -->
							<div class="col-md-10">
								<div class="speaker">
									<img src="img/MINE1.jpg" alt="Hubert Hirthe">
								</div>
								<h4>Zones minée</h4>
								<!-- <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p> -->
							</div>
						</div>

						<div
							class="row schedule-item">
							<!-- <div class="col-md-2"><time>12:00 AM</time></div> -->
							<div class="col-md-10">
								<div class="speaker">
									<img src="img/EODGren1.jpg" alt="Cole Emmerich">
								</div>
								<h4>Reste d’explosif de guerre (REG).</h4>
								<!-- <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p> -->
							</div>
						</div>

						<div
							class="row schedule-item">
							<!-- <div class="col-md-2"><time>02:00 PM</time></div> -->
							<div class="col-md-10">
								<div class="speaker">
									<img src="img/PSSM1.jpg" alt="Jack Christiansen">
								</div>
								<h4>Gestion du stockage des munitions
								</h4>
								<!-- <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p> -->
							</div>
						</div>

						<div
							class="row schedule-item">
							<!-- <div class="col-md-2"><time>03:00 PM</time></div> -->
							<div class="col-md-10">
								<div class="speaker">
									<img src="img/WAM1.jpg" alt="Alejandrin Littel">
								</div>
								<h4>Gestion du stockage des armes</h4>
								<!-- <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p> -->
							</div>
						</div>

						<div
							class="row schedule-item">
							<!-- <div class="col-md-2"><time>04:00 PM</time></div> -->
							<div class="col-md-10">
								<div class="speaker">
									<img src="img/EXPLO1.jpg" alt="Willow Trantow">
								</div>
								<h4>Engins Explosifs Improvisés (EEI)</h4>
								<!-- <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p> -->
							</div>
						</div>
						<div
							class="row schedule-item">
							<!-- <div class="col-md-2"><time>04:00 PM</time></div> -->
							<div class="col-md-10">
								<div class="speaker">
									<img src="img/C-IED.jpg" alt="Willow Trantow">
								</div>
								<h4>Menance terroriste</h4>
								<!-- <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p> -->
							</div>
						</div>

					</div>
					<!-- End Schdule Day 2 -->

					<!-- Schdule Day 3 -->
					<div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">

						<div
							class="row schedule-item">
							<!-- <div class="col-md-2"><time>10:00 AM</time></div> -->
							<div class="col-md-10">
								<div
									class="speaker"><!-- <img src="img/speakers/2.jpg" alt="Hubert Hirthe"> -->
								</div>
								<h4>Audit et évaluation des risques dans les zones polluées par les REG/Mine/EEI
																																				Nous prenons en compte les besoins opérationnel de nos clients</h4>
								<p>Nous sommes en mésure de proposer des expertises dans les domaines suivant:</p>
							</div>
						</div>

						<div
							class="row schedule-item">
							<!-- <div class="col-md-2"><time>11:00 AM</time></div> -->
							<div class="col-md-10">
								<div class="speaker">
									<img src="img/MINE1.jpg" alt="Cole Emmerich">
								</div>
								<h4>Audit</h4>
								<!-- <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p> -->
							</div>
						</div>

						<div
							class="row schedule-item">
							<!-- <div class="col-md-2"><time>12:00 AM</time></div> -->
							<div class="col-md-10">
								<div class="speaker">
									<img src="img/EODGren1.jpg" alt="Brenden Legros">
								</div>
								<h4>Evaluation des risques</h4>
								<!-- <p>Facere provident incidunt quos voluptas.</p> -->
							</div>
						</div>

						<div
							class="row schedule-item">
							<!-- <div class="col-md-2"><time>02:00 PM</time></div> -->
							<div class="col-md-10">
								<div class="speaker">
									<img src="img/PSSM1.jpg" alt="Jack Christiansen">
								</div>
								<h4>Controle qualité
								</h4>
								<!-- <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p> -->
							</div>
						</div>


					</div>
					<!-- End Schdule Day 2 -->

				</div>

			</div>

		</section>


	</main>

	<!--main-section-end-->


<!--main-section-end-->

	<!--main-section-end-->

	<!--main-section alabaster-end -->


{% endblock %}
