{% extends 'adminbase.html.twig' %}

{% block title %}New News
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<h1>Editer une News</h1>
		{{ include('news/_form.html.twig') }}
		<a href="{{ path('news_index') }}">Retour</a>
	</div>
{% endblock %}
