{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
  {#   <h1>Create new Contact</h1>
 #}
   {#  {{ include('contact/_form.html.twig') }} #}

  {#   <a href="{{ path('contact_index') }}">back to list</a> #}
    <div class="container">
		<section class="main-section contact" id="contact">

			<div class="row">
				<div class="col-lg-6 col-sm-7 wow fadeInLeft">
					<div class="contact-info-box address clearfix">
						<h3><i class=" icon-map-marker"></i>Address:</h3>
						<span>Abidjan<br>Cote d'Ivoire.</span>
					</div>
					<div class="contact-info-box phone clearfix">
						<h3><i class="fa fa-phone"></i>Tel:</h3>
						<span>+225 79 70 71 30</span>
					</div>
					<div class="contact-info-box email clearfix">
						<h3><i class="fa fa-pencil"></i>email:</h3>
						<span>info@neutrex-int.com</span>
					</div>
					{# <div class="contact-info-box hours clearfix">
						<h3><i class="fa fa-clock-o"></i>Hours:</h3>
						<span><strong>Monday - Thursday:</strong> 10am - 6pm<br><strong>Friday:</strong> People work on Fridays now?<br><strong>Saturday - Sunday:</strong> Best not to ask.</span>
					</div>
					 #}
				</div>
				<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
				
					{{include('contact/_form.html.twig')}}
		
					
				</div>
			</div>
		</section>
	</div>
{% endblock %}
