{% extends 'base.html.twig' %}

{% block title %}New Inscrit{% endblock %}

{% block body %}
    <h1>{{formation.theme}}</h1>

    {{ include('inscrit/_form.html.twig') }}

    <a href="{{ path('inscrit_index') }}">back to list</a>
{% endblock %}
