{% extends 'base.html.twig' %}

{% block title %}New Inscrit{% endblock %}

{% block body %}
	<!--business-talking-end-->
	<div class="container">
		<section class="main-section contact" id="contact">
			
			<div class="row">
				<div class="col-lg-3 wow fadeInLeft">
					
					
					
				</div>
				<div class="col-lg-6 col-sm-12 wow fadeInUp delay-05s">
				<h3>Incription à la formation :	 </h3>
				<h2>{{formation.slug}}</h2>
						
							{{ include('inscrit/_form.html.twig') }}
													
				</div>
				<div class="col-lg-3  wow fadeInLeft">
					
					
					
				</div>
			</div>
		</section>
	</div>
   

  
   {#  <a href="{{ path('inscrit_index') }}">back to list</a> #}
{% endblock %}
